.container{
    background-color: white;
    max-width: 10vw;
    min-height: 80.7vh;
    padding-left: 0;
    padding-right: 0;
    margin-left: 5px;
}

.btn-group-vertical{
    min-width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    border-color: black 1px;
}

.btn { 
    border-radius: 0px !important;
    border: 1px solid black;
}