<header class="headerText" style="overflow: hidden;">
  <div class="container-fluid">
    <div class="row row-cols-auto">
      <div class="col-1" style="max-width: 50px;">
        <img id="HeaderIcon" src="../assets/images/sharkIcon.png" alt="Shark Icon">
      </div>
      <div class="col" style="margin-left: 37vw;"></div>
      <h1 style="text-align: center; color: white; margin-top:30px; margin-left: 30px; font-size: 35px;">Jarred's Website</h1>
    </div>
  </div>
</header>

  <router-outlet></router-outlet>

<footer class="footerText">
  <P style="font-size: 20px; margin-top: 25px;">This webiste is the property of the creator and all rights are reserved
    for the property owner LLC ©2023-2027</P>
</footer>